<div class="container">
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
            <img src="../../../../assets/images/music-mate-logo.jpg" width="50" height="42" alt="logo">
          </a>
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item"><a routerLink="dashboard" [routerLinkActive]="['active']" class="nav-link" aria-current="page">Dashboard</a></li>
            <li class="nav-item"><a routerLink="about" [routerLinkActive]="['active']" class="nav-link">About</a></li>
            @if(user && user.role == userRole.Admin){
              <li class="nav-item"><a class="nav-link" routerLink="admin">Admin page</a></li>
            }
          </ul>
  
          <div class="dropdown text-end">
            @if(user){
              <a class="d-block link-body-emphasis text-decoration-none dropdown-toggle" style="cursor: pointer;" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{user.profileImgUrl}}" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" routerLink="users/{{user._id}}">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Sign out</a></li>
              </ul>
            }@else{
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item"><a routerLink="login" [routerLinkActive]="['active']" class="nav-link">Login</a></li>
              </ul>
            }
            
          </div>
        </div>
      </div>
    </header>
</div>